html {
	background: darkcyan;
	padding: 0px;
	margin: 0px;
}

body {
	padding: 0px;
	margin: 0px;
}

section {
	padding: 10px 50px 10px 50px;
}


.tiles_container {
	background: purple;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border: 1px solid darkorchid;
	width: 300px;
	height: 300px;
}


.tiles_container .tile {
	border: 1px dashed darkorchid;
	transition: background-color 0.5s ease;
	width: 33.33333333333%;
	height: 33.33333333333%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tiles_container .tile.active {
	background: magenta;
}

.tiles_container .tile.active.o {
	/*background: green;*/
	background-image: url("/svg/circle.svg");
	background-repeat: no-repeat;
	background-size: 80% 80%;
	background-position: center;
}

.tiles_container .tile.active.x {
	/*background: blue;*/
	background-image: url("/svg/cross.svg");
	background-repeat: no-repeat;
	background-size: 80% 80%;
	background-position: center;
}

.tiles_container .tile:hover {
	background: magenta;
	transition: background-color 0.5s ease;
	width: 33.33333333333%;
	height: 33.33333333333%;
	box-sizing: border-box;
}

.tiles_container .tile img {
	width: 80%;
	height: 80%;
}